<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>projet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.sdzee.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.sdzee.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionUtilisateur</servlet-name>
    <servlet-class>com.sdzee.servlets.GestionUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUtilisateur</servlet-name>
    <url-pattern>/gestionUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionQuestionnaire</servlet-name>
    <servlet-class>com.sdzee.servlets.GestionQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionQuestionnaire</servlet-name>
    <url-pattern>/gestionQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreerUtilisateur</servlet-name>
    <servlet-class>com.sdzee.servlets.CreerUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerUtilisateur</servlet-name>
    <url-pattern>/creerUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreerQuestionnaire</servlet-name>
    <servlet-class>com.sdzee.servlets.CreerQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerQuestionnaire</servlet-name>
    <url-pattern>/creerQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreerQuestion</servlet-name>
    <servlet-class>com.sdzee.servlets.CreerQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerQuestion</servlet-name>
    <url-pattern>/creerQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreerReponse</servlet-name>
    <servlet-class>com.sdzee.servlets.CreerReponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerReponse</servlet-name>
    <url-pattern>/creerReponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierUtilisateur</servlet-name>
    <servlet-class>com.sdzee.servlets.ModifierUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierUtilisateur</servlet-name>
    <url-pattern>/modifierUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierQuestionnaire</servlet-name>
    <servlet-class>com.sdzee.servlets.ModifierQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierQuestionnaire</servlet-name>
    <url-pattern>/modifierQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierQuestion</servlet-name>
    <servlet-class>com.sdzee.servlets.ModifierQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierQuestion</servlet-name>
    <url-pattern>/modifierQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierReponse</servlet-name>
    <servlet-class>com.sdzee.servlets.ModifierReponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierReponse</servlet-name>
    <url-pattern>/modifierReponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerUtilisateur</servlet-name>
    <servlet-class>com.sdzee.servlets.SupprimerUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerUtilisateur</servlet-name>
    <url-pattern>/supprimerUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerQuestionnaire</servlet-name>
    <servlet-class>com.sdzee.servlets.SupprimerQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerQuestionnaire</servlet-name>
    <url-pattern>/supprimerQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerQuestion</servlet-name>
    <servlet-class>com.sdzee.servlets.SupprimerQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerQuestion</servlet-name>
    <url-pattern>/supprimerQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerReponse</servlet-name>
    <servlet-class>com.sdzee.servlets.SupprimerReponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerReponse</servlet-name>
    <url-pattern>/supprimerReponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficherUtilisateur</servlet-name>
    <servlet-class>com.sdzee.servlets.AfficherUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherUtilisateur</servlet-name>
    <url-pattern>/afficherUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficherQuestionnaire</servlet-name>
    <servlet-class>com.sdzee.servlets.AfficherQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherQuestionnaire</servlet-name>
    <url-pattern>/afficherQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficherQuestion</servlet-name>
    <servlet-class>com.sdzee.servlets.AfficherQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherQuestion</servlet-name>
    <url-pattern>/afficherQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoirListeQuestionnaires</servlet-name>
    <servlet-class>com.sdzee.servlets.VoirListeQuestionnaires</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirListeQuestionnaires</servlet-name>
    <url-pattern>/voirListeQuestionnaires</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>RepondreQuestionnaire</servlet-name>
    <servlet-class>com.sdzee.servlets.RepondreQuestionnaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepondreQuestionnaire</servlet-name>
    <url-pattern>/repondreQuestionnaire</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>VoirParcours</servlet-name>
    <servlet-class>com.sdzee.servlets.VoirParcours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoirParcours</servlet-name>
    <url-pattern>/voirParcours</url-pattern>
  </servlet-mapping>
  
  <filter>
	<filter-name>AdministrateurFilter</filter-name>
	<filter-class>com.sdzee.filters.AdministrateurFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>AdministrateurFilter</filter-name>
	<url-pattern>/administrateur/*</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>StagiaireFilter</filter-name>
	<filter-class>com.sdzee.filters.StagiaireFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>StagiaireFilter</filter-name>
	<url-pattern>/stagiaire/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>ignore</param-name>
        <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>